{% extends "base.html" %}

{% block content %}
<div class="container">
  {{block.super}}
  <h2>hi</h2>
  <div class="header">
  </div>
  <h1 class="header-text">Welcome to the best Photo Gallery on this Planet</h1>
  <div class="row">
    <div class="col-lg-6">

        <form class="form" role="search" method="get" action="{% url 'gallery:search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Category i.e Computers, Food, Animals" name="category">
            <div class="input-group-btn">
              <button class="btn" type="submit">Search</button>
            </div>
            </div>
        </form>
          </div>
          <div class="col-lg-6">
            <form class="form" role="search" action="{% url 'gallery:search_location' %}">

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Location" name="location">
                <div class="input-group-btn">
                  <button class="btn" type="submit">Search</button>
                </div>
                </div>
            </form>
          </div>
    </div>
      <div class="row">

        <div class="col-lg-8 col-lg-offset-3">
          <h2>All Images</h2>
          <div class="all-images">

            {% for image_id in images %}
            <img src="{{image_id.image.url}}" class="img-responsive" alt="">

            <h2><a href="{{image_id.get_absolute_url}}">{{image_id.image_name}}</a></h2>

            {% endfor %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}
